/* button.ant-btn.css-dev-only-do-not-override-i46qwz.ant-btn-default {
  width: 100%;
}
.ant-col.ant-col-24.btnUploadFile.css-dev-only-do-not-override-i46qwz
  > span.ant-upload-wrapper.css-dev-only-do-not-override-i46qwz
  > .ant-upload.ant-upload-select {
  width: 100%;
} */
.ModalShowImage {
  .modalShowImageImg.ant-row.css-dev-only-do-not-override-i46qwz {
    justify-content: center;
  }
}
