.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-width: 30%;
}
.logoIwakiLogin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imageNenVectorLogin {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}
.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ant-form.formLogin {
  justify-content: center;
}
a.linkForgot {
  text-decoration: none;
}
button.ant-btn.css-dev-only-do-not-override-i46qwz.ant-btn-default.btnSignIn {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: none;
}
.loginForm {
  position: relative;
}
@media (max-width: 470px) {
  .logoIwakiLogin > img {
    width: 30%;
    display: flex;
    margin: 30% auto 0;
  }
  .logoIwakiLogin > p {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .logoIwakiLogin {
    margin-bottom: 10%;
  }

  /* .formLogin {
    width: 70%;
  } */
  .formLogin .ant-form-item {
    width: 70%;
  }
  .formLogin.ant-form-inline .ant-form-item {
    margin: 4%;
    /* margin-inline-end: 0; */
  }
  .formLogin .ant-input-affix-wrapper {
    height: 50px;
    border-radius: 40px;
  }
  .FooterLoginForm {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .FooterItemLogin {
    margin-right: 15%;
    display: flex;
    flex-direction: column;
  }

  .linkForgot {
    margin-bottom: 20%;
    span {
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .btnSignIn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    span {
      display: flex;
      width: 80%;

      font-family: Lato;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    .iconArrow {
      border: 1px;
      border-radius: 24px;
      background: #231b9a;
      width: 85px;
      height: 35px;
    }
  }
}
@media (min-width: 471px) {
  .logoIwakiLogin > img {
    width: 20%;
    display: flex;
    margin: 10% auto 0;
  }
  .logoIwakiLogin > p {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .logoIwakiLogin {
    margin-bottom: 10%;
  }
  .formLogin .ant-form-item {
    width: 70%;
  }
  .formLogin.ant-form-inline .ant-form-item {
    margin: 4%;
  }
  .formLogin .ant-input-affix-wrapper {
    height: 50px;
    border-radius: 40px;
  }
  .FooterLoginForm {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .FooterItemLogin {
    margin-right: 15%;
    display: flex;
    flex-direction: column;
  }
  .linkForgot {
    margin-bottom: 15%;
    span {
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .btnSignIn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    span {
      display: flex;
      width: 80%;
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    .iconArrow {
      border: 1px;
      border-radius: 24px;
      background: #231b9a;
      width: 85px;
      height: 35px;
    }
  }
}
@media (min-width: 769px) {
  .logoIwakiLogin > img {
    width: 15%;
    display: flex;
    margin: 10% auto 0;
  }
  .logoIwakiLogin > p {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .logoIwakiLogin {
    margin-bottom: 8%;
  }

  .formLogin .ant-form-item {
    width: 70%;
  }
  .formLogin.ant-form-inline .ant-form-item {
    margin: 4%;
  }
  .formLogin .ant-input-affix-wrapper {
    height: 50px;
    border-radius: 40px;
  }
  .FooterLoginForm {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .FooterItemLogin {
    margin-right: 25%;
    display: flex;
    flex-direction: column;
  }
  .linkForgot {
    margin-bottom: 20%;
    span {
      font-family: Lato;
      font-size: 24px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .btnSignIn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    span {
      display: flex;
      width: 80%;
      font-family: Lato;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    .iconArrow {
      border: 1px;
      border-radius: 24px;
      background: #231b9a;
      width: 85px;
      height: 35px;
    }
  }
}

@media (min-width: 1100px) {
  .logoIwakiLogin > img {
    width: 10%;
    display: flex;
    margin: 10% auto 0;
  }
  .logoIwakiLogin > p {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .logoIwakiLogin {
    margin-bottom: 4%;
  }
  .formLogin .ant-form-item {
    width: 70%;
  }
  .formLogin.ant-form-inline .ant-form-item {
    margin: 4%;
  }
  .formLogin .ant-input-affix-wrapper {
    height: 50px;
    border-radius: 40px;
  }
  .FooterLoginForm {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .FooterItemLogin {
    margin-right: 35%;
    display: flex;
    flex-direction: column;
  }
  .linkForgot {
  }

  .btnSignIn {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    span {
      font-family: Lato;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .iconArrow {
    background: #231b9a;
    border-radius: 17px;
  }

  .linkForgot {
    text-decoration: none;
    .spanForgot {
      font-family: Lato;
      font-size: 24px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #9a9a9a;
    }
  }
}
@media (min-width: 1025px) {
  .logoIwakiLogin > img {
    width: 10%;
    display: flex;
    margin: 10% auto 0;
  }
  .logoIwakiLogin > p {
    margin: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .logoIwakiLogin {
    margin-bottom: 4%;
  }

  .formLogin .ant-form-item {
    width: 70%;
  }
  .formLogin.ant-form-inline .ant-form-item {
    margin: 4%;
  }
  .formLogin .ant-input-affix-wrapper {
    height: 50px;
    border-radius: 40px;
  }
  .FooterLoginForm {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .FooterItemLogin {
    margin-right: 35%;
    display: flex;
    flex-direction: column;
  }
  .linkForgot {
    margin-bottom: 20%;
  }

  .linkForgot {
    margin-bottom: 20%;
    span {
      font-family: Lato;
      font-size: 36px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .btnSignIn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    span {
      display: flex;
      width: 80%;

      font-family: Lato;
      font-size: 36px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    .iconArrow {
      border: 1px;
      border-radius: 24px;
      background: #231b9a;
      width: 85px;
      height: 35px;
    }
  }
}
@media (min-width: 1921px) {
  .logoIwakiLogin > img {
    width: 10%;
    display: flex;
    margin: 10% auto 0;
  }
  .logoIwakiLogin > p {
    margin: 0;
    font-family: Lato;
    font-size: 36px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  .logoIwakiLogin {
    margin-bottom: 4%;
  }

  .formLogin .ant-form-item {
    width: 70%;
  }
  .formLogin.ant-form-inline .ant-form-item {
    margin: 4%;
  }
  .formLogin .ant-input-affix-wrapper {
    height: 64px;
    border-radius: 40px;
  }
  .formLogin .ant-input-affix-wrapper >input.ant-input{
    font-size: 24px;
  }
  .FooterLoginForm {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .FooterItemLogin {
    margin-right: 37%;
    display: flex;
    flex-direction: column;
  }
  .linkForgot {
    margin-bottom: 20%;
    span {
      font-family: Lato;
      font-size: 36px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .btnSignIn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    span {
      display: flex;
      width: 80%;

      font-family: Lato;
      font-size: 36px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
    .iconArrow {
      border: 1px;
      border-radius: 24px;
      background: #231b9a;
      width: 115px;
      height: 50px;
    }
  }
}
